#inputIndex{
  border: unset;
  outline: unset;
  appearance: unset;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  color: black;
  background-color: #FBC95C;
  min-width: 172px;
  min-height: 39px;
  border-radius: 10px;
}
