#Apropos{
  max-width: 175px;
  min-width: 175px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

div > p, h3 {
  color: white;
}

div > p{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  margin-top: 16px;
}
