<app-header></app-header>
<div>
  <table>
    <thead>
    <tr>
      <th >nom</th>
      <th >email</th>
      <th >détails</th>
      <th >désactiver</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let provider of providers">
      <td>{{provider.name}}</td>
      <td>{{provider.email}}</td>
      <td><button routerLink="/provider-detail" [queryParams]="{'providerId': provider.id}">détail</button></td>
      <td><button (click)="deleteProvider()">désactiver</button></td>
    </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
