#containerDetail{
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  width: 353px;
  height: 441px;
  border-radius: 30px;
}

#containerDetailAgreement{
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  width: 653px;
  height: 441px;
  border-radius: 30px;
}

#mainContainerProvider{
  display: flex;
  gap: 150px;
  justify-content: center;
}

#containerDetail > *{
  display: flex;
  align-items: center;
  flex-direction: column;
}

p{
  margin: 0;
  padding:0;
}

*{
  font-family: 'Montserrat', sans-serif;
}
