#containerDetail{
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  width: 353px;
  height: 441px;
  border-radius: 30px;
}

#containerDetailAgreement{
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  width: 653px;
  height: 441px;
  border-radius: 30px;
}

#mainContainerProvider{
  display: flex;
  gap: 150px;
  justify-content: center;
}

#containerDetail > *{
  display: flex;
  align-items: center;
  flex-direction: column;
}

p{
  margin: 0;
  padding:0;
}

*{
  font-family: 'Montserrat', sans-serif;
}

#parentContainerProviderDetail{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 100px;
}


#card{
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  width: 650px;
  height: 200px;
  border-radius: 30px;

  h4{
    padding-left: 30px;
    padding-top: 30px;
  }
  p{
    padding-left: 30px;
  }
}

#stylePlacement{
  width: 25px;
  height: 200px;
}

#reportContainer{
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1{
    margin-left: 15.5vw;
  }
}

#recommendationCardContainer{
  display: flex;
  justify-content: space-around;
}

