<app-header></app-header>

<div id="mainContainerProvider">
  <div id="containerDetail">
    <p>{{provider.surname}}</p>
    <p>{{provider.name}}</p>
    <p>{{provider.email}}</p>
    <p>{{provider.phone}}</p>
    <p>{{provider.base_tariff}} €</p>
  </div>
  <div id="containerDetailAgreement">
    <h1>Contrats</h1>
    <div id="contractList" *ngFor="let agreement of agreements" [hidden]="!this.displayList">
      <app-agreement-card (displayAgreement)="displayAgreement($event)" [agreement]="agreement"></app-agreement-card>
    </div>
    <div id="contractDetail" *ngFor="let agreement of agreements" [hidden]="this.displayList">

    </div>
  </div>


</div>



<app-footer></app-footer>
